## Featured Work

<ul class="featuredwork">
  <li><a href="/projects/annenberg-foundation" title="Annenberg Foundation"><img src="/projects/annenberg-foundation/screenshots/medium/home.jpg" alt="Annenberg Foundation" /></a></li>
  <li><a href="/projects/linux-foundation" title="Linux Foundation"><img src="/projects/linux-foundation/screenshots/medium/logo.jpg" alt="Linux Foundation" /></a></li>
  <li><a href="/projects/digital-turbine" title="Digital Turbine"><img src="/projects/digital-turbine/screenshots/medium/home.jpg" alt="Digital Turbine" /></a></li>
  <li><a href="/projects/annenberg-space-for-photography" title="Annenberg Space for Photography"><img src="/projects/annenberg-space-for-photography/screenshots/medium/home.jpg" alt="Annenberg Space for Photography" /></a></li>
</ul>
